[autotune_tmc stepper_x]
motor: ldo-42sth48-1684mah
voltage: 24
sg4_thrs: 170

[autotune_tmc stepper_y]
motor: ldo-42sth48-1684mah
voltage: 24
sg4_thrs: 186

[autotune_tmc stepper_z]
motor: moons-ms17hd6p4200
voltage: 24
tuning_goal: performance

[autotune_tmc stepper_z1]
motor: moons-ms17hd6p4200
voltage: 24
tuning_goal: performance

[autotune_tmc stepper_z2]
motor: moons-ms17hd6p4200
voltage: 24
tuning_goal: performance

[autotune_tmc stepper_z3]
motor: moons-ms17hd6p4200
voltage: 24
tuning_goal: performance

[autotune_tmc extruder]
motor: fysetc-g36hsy4405-6d-1200
#pwm_freq_target: 16e3 # can go to 40
voltage: 24
