[extruder]
step_pin = H36:PB9
dir_pin = !H36:PB8
enable_pin = !H36:PB7
rotation_distance = 22.6789511
gear_ratio = 50:10
microsteps = 16
full_steps_per_rotation = 200
nozzle_diameter = 0.400

heater_pin = H36:PA7
smooth_time = .5
sensor_type = ATC Semitec 104NT-4-R025H42G
pullup_resistor: 2200
sensor_pin = H36:PA6
min_temp = 0
max_temp = 285
max_power = 1.0
min_extrude_temp: 172
pressure_advance = 0.015
max_extrude_only_distance = 200
max_extrude_cross_section = 50.0

# new way. use this. i already tuned it
# https://docs.kalico.gg/MPC.html
# MPC_CALIBRATE HEATER=extruder FAN_BREAKPOINTS=10
control: mpc
heater_power: 70  
cooling_fan: fan
filament_diameter: 1.75
filament_density: 1.20
filament_heat_capacity: 1.8 

block_heat_capacity: 21.5423
sensor_responsiveness: 0.0870781
ambient_transfer: 0.113451
fan_ambient_transfer: 0.113451, 0.124082, 0.138117, 0.151972, 0.16011, 0.165163, 0.170825, 0.175295, 0.182507, 0.183023

# 2026-04-10 results
# Finished MPC calibration of heater 'extruder'
# Measured:
# block_heat_capacity=21.5423 [J/K]
# sensor_responsiveness=0.0870781 [K/s/K]
# ambient_transfer=0.113451 [W/K]
# fan_ambient_transfer=0.113451, 0.124082, 0.138117, 0.151972, 0.16011, 0.165163, 0.170825, 0.175295, 0.182507, 0.183023 [W/K]

# old way, dont use this
# control = pid
# pid_kp = 40.257
# pid_ki = 5.368
# pid_kd = 75.481


[tmc2209 extruder]
uart_pin = H36:PC14
interpolate = true
run_current = 0.5
sense_resistor = 0.110