[multi_pin pcf]
pins = H36:PA5, H36:PB13

[fan]
pin = multi_pin:pcf
kick_start_time = 0.5


[heater_fan hotend_fan]
pin = H36:PA9
max_power = 1.0
kick_start_time = 0.5
heater = extruder
heater_temp = 50.0

# this is controller fans for e-bay

[multi_pin e_bay]
pins = PD12, PD13

#electronics bay fans
[controller_fan controller_fan]
pin: multi_pin:e_bay
kick_start_time: 0.5
fan_speed: .7
idle_timeout: 60
stepper: stepper_x, stepper_y, stepper_z, stepper_z1, stepper_z2, stepper_z3
heater: heater_bed




# This is a 'fake' chamber heater that enables bed fans which will stay on until chamber temp is reached
# This is a smarter way to do bed fans since it will slow down and then stop the fans as the chamber
# temp is achieved.
[heater_generic heater_chamber]
heater_pin: PB11 # this is the fan pin that controls bed fans
sensor_type: ATC Semitec 104GT-2 
sensor_pin: PF4 # this is a chamber thermistor (the gantry one)

#Do not touch pid info or anything below here
control: pid 
pid_Kp: 61.470837
pid_Ki: 0.5
pid_Kd: 0
pwm_cycle_time: 0.3
min_temp: 1
max_temp: 110

#Do not touch pid info or anything here
[verify_heater heater_chamber]
max_error: 120
check_gain_time: 120
hysteresis: 50
heating_gain: 1