[heater_bed]
heater_pin = PA3
sensor_type = EPCOS 100K B57560G104F
sensor_pin = PF3
max_power = 1.0
min_temp = 0
max_temp = 130


# I redid pid tune on the bed, BUT, if you run into any issues you may want to do it again with the bed fans on. use the chamber heater to turn them on
# then home, move nozzle to the center of the bed and approximately 5-10mm above the bed surface, then run:
# PID_CALIBRATE HEATER=heater_bed TARGET=100

control = pid_v
pid_kp = 55.838
pid_ki = 2.473
pid_kd = 315.134

# 2026-04-10 data
# PID parameters for 100.00°C: pid_Kp=55.838 pid_Ki=2.473 pid_Kd=315.134
# Heater: heater_bed
# Tolerance: 0.0200
# Profile: default
# The SAVE_CONFIG command will update the printer config file