
[printer]
kinematics = corexy
max_velocity = 300
max_accel = 4500
minimum_cruise_ratio = .5
max_z_velocity = 15
max_z_accel = 350
square_corner_velocity = 5.0



[idle_timeout]
# only turn off motors and heaters if the printer is not paused
gcode:
    {% if not (printer.pause_resume.is_paused) %}
        RESPOND MSG="Idle timeout reached"
        TURN_OFF_HEATERS
        M84

    {% endif %}
timeout: 999999
