
[printer]
kinematics = corexy
max_velocity = 300
max_accel = 4500
minimum_cruise_ratio = .5
max_z_velocity = 15
max_z_accel = 350
square_corner_velocity = 5.0

[gcode_macro _CLIENT_VARIABLE]
variable_use_custom_pos   : True ; use custom park coordinates for x,y [True/False]
variable_custom_park_x    : 15   ; custom x position; value must be within your defined min and max of X
variable_custom_park_y    : 15   ; custom y position; value must be within your defined min and max of Y
variable_custom_park_dz   : 2.0   ; custom dz value; the value in mm to lift the nozzle when move to park position
gcode:


[force_move]
enable_force_move: True

[idle_timeout]
# only turn off motors and heaters if the printer is not paused
gcode:
    {% if not (printer.pause_resume.is_paused) %}
        RESPOND MSG="Idle timeout reached"
        TURN_OFF_HEATERS
        M84

    {% endif %}
timeout: 999999
