[temperature_sensor cartographer]
sensor_type = temperature_mcu
sensor_mcu = cartographer
min_temp = 5
max_temp = 105




# [temperature_sensor chamber3]
# sensor_type = Generic 3950
# sensor_pin = PF7
# min_temp = -273
# max_temp = 100

# [temperature_sensor chamber]
# sensor_type = temperature_combined
# sensor_list = temperature_sensor chamber1
# combination_method = mean
# maximum_deviation = 15

[temperature_sensor Raspberry_Pi]
sensor_type: temperature_host

[temperature_sensor Octopus]
sensor_type: temperature_mcu


# this is referenced in the fake chamber heater, so do not enable it here
# [temperature_sensor Gantry]
# sensor_type = ATC Semitec 104GT-2
# sensor_pin = PF4
# min_temp = 0
# max_temp = 100
